:root {
  --text: #FFFFFF;
  --background: #28282B;
  --accent: #0389A1;

  --body-margin: 30px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

body {
  background-color: var(--background);

  /* Layout */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  /* Font */
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
  font-size: 18px;
  color: var(--text);
  
  /* Layout */
  width: 900px;
  max-width: calc(100% - 2*var(--body-margin));
  margin: 0 var(--body-margin) var(--body-margin) var(--body-margin);
}

section {
  margin-top: 5%;
}

p {
  line-height: 1.5em;
}

a {
  color: var(--color);
  text-decoration: none;
}

.highlight {
  color: var(--accent);
}

.decorated-link-wavy {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-style: wavy;
}

.undecorated-link {
  color: var(--accent);
}

ul {
  list-style-type: square;
  line-height: 1.5em;
}

.copyright {
  filter: opacity(0.5);
}

.img-profile {
  border-radius: 10%;
  outline: var(--accent) solid 10px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.35em;
  text-decoration-color: var(--accent);
  text-decoration-style: dashed;
  text-decoration-thickness: 4px;
  line-height: 1.5em;
}

.socials-icon {
  margin-inline: 10px;
}

.card-small {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #424244;
  max-width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-large {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #424244;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-time {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  background-color: #424244;
  max-width: 75%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 1.5em;
}

.contacts {
  list-style-type: none;
}

@media (max-width: 430px) {
	.socials-platform {
		display: none
	}
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #28282B;
    --background: #f8f8ff;
    --accent: #0389A1;
  }
  .img-profile {
      border-radius: 10%;
      outline: #000000 solid 10px;
  }
  .card-small {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      text-align: center;
      background-color: #FFFFFF;
      max-width: 350px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  .card-large {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      text-align: center;
      background-color: #FFFFFF;
      max-width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  .card-time {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
    background-color: #FFFFFF;
    max-width: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}